name: Validate spec fixtures

on: [push, pull_request]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v2
      with:
        distribution: "adopt"
        java-version: "11" # LTS

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version:  "3.2"
        bundler-cache: true

    - name: Prepare validator
      run: bundle exec rake validator:download

    - name: Run validator
      run: bundle exec rake validator:run

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: validation-results
        path: validator/results/*
